<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="Enforce WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{URL}" pattern="^(.+)://(?!www)(.*)" />
          </conditions>
          <action type="Redirect" url="https://www.{C:2}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^app.js\/debug[\/]?" />
        </rule>
        <rule name="StaticContentPublic">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>
        <rule name="StaticContentLib">
          <action type="Rewrite" url="lib{REQUEST_URI}"/>
        </rule>
        <rule name="StaticAuthFile">
          <match url="(/D2F99B9D721ACF4620928DDFAE97B2CF.txt)" />
          <action type="Rewrite" url="/D2F99B9D721ACF4620928DDFAE97B2CF.txt"/>
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="app.js"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
