extends layout
block content
    h1= title
    form(action="/admin",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        hr
        div.form-group
            label(class="col-xs-3 control-label", for="dbinit") Datenbank initialisieren:
            div.col-xs-1
                input(type="submit", class="btn btn-default", value="Start", name="dbinit" id="dbinit")
        div.form-group
            label(class="col-xs-3 control-label", for="usermanagement") User Management:
            div.col-xs-1
                input(type="submit", class="btn btn-default", value="Go", name="usermanagement" id="usermanagement")
            div.col-xs-8
                span.text-info #{status}
                span.text-danger #{error}
