<div id="articleItemView">
    <!-- Modal -->
    <div class="modal fade" id="editArticleEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" ng-app="articleEditApp">
        <div class="modal-dialog modal-dialog-full">
            <div class="modal-content modal-content-full" ng-controller="articleEditCtrl">
                <div class="modal-header modal-header-full">
                    <button type="button" class="btn btn-primary" id="btSave" name="btSave" ng-click="saveArticle($event)">Speichern und Zurück</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Abbrechen</button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert" id="errorMessage">{{errorMessage}}</div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <form class="form" role="form">
                                            <div class="form-group">
                                                <label for="author" class="control-label">{{article_schema.author.label}}:</label>

                                                <div id="author">
                                                    <input type="text" class="form-control" ng-model="article.author">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="artikeldatum" class="control-label">{{article_schema.date.label}}:</label>

                                                <div id="artikeldatum">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="article.date" is-open="article_date_opened" min-date="minDate"
                                                               datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'article_date_opened')">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr class="visible-xs">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ascloud-left-border-sm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form class="form" role="form">
                                            <div class="form-group">
                                                <label for="publish_start" class="control-label">{{article_schema.publish_start.label}}:</label>

                                                <div id="publish_start">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="article.publish_start" is-open="publish_start_opened"
                                                               min-date="minDate"
                                                               datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'publish_start_opened')">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="publish_end" class="control-label">{{article_schema.publish_end.label}}:</label>

                                                <div id="publish_end">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="article.publish_end" is-open="publish_end_opened"
                                                               min-date="minDate"
                                                               datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default" ng-click="openDatePicker($event, 'publish_end_opened')">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="{{article.text.length/70}}" ng-maxlength="article_schema.text.maxLength" ng-model="article.text" required="Ein Text muss eingegeben werden" ng-required="true" ></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
