<div id="articleItemView">
    <!-- Modal -->
    <div class="modal fade" id="editArticleEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" ng-app="articleEditApp">
        <div class="modal-dialog modal-dialog-full">
            <div class="modal-content modal-content-full" ng-controller="articleEditCtrl">
                <div class="modal-header modal-header-full">
                    <button type="button" class="btn btn-primary" id="btSave" name="btSave">Speichern und Zurück</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Abbrechen</button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger hidden" role="alert" id="errorMessage"></div>
                    <div class="row">
                        <form class="form-horizontal" role="form">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group has-feedback">
                                    <label for="title" class="control-label col-xs-3">{{article.title.schema.label}}:</label>

                                    <div id="title" class="col-xs-9">
                                        <input type="text" class="form-control" value="{{article.title.value}}">
                                        <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
                                    </div>
                                </div>
                                <div class="form-group has-feedback">
                                    <label for="subtitle" class="control-label col-xs-3">{{article.subtitle.schema.label}}:</label>

                                    <div id="subtitle" class="col-xs-9">
                                        <textarea rows="3" class="form-control">{{article.subtitle.value}}</textarea>
                                        <i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="author" class="control-label col-md-4">{{article.author.schema.label}}:</label>

                                                <div id="author" class="col-md-8">
                                                    <input type="text" class="form-control" value="{{article.author.value}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="artikeldatum" class="col-md-4 control-label">{{article.date.schema.description}}:</label>

                                                <p class="input-group col-md-8" id="artikeldatum">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="article.date.value" is-open="opened" min-date="minDate"
                                                           datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="open($event)">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr class="visible-xs">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ascloud-left-border-sm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="publish_start" class="col-md-4 control-label">{{article.publish_start.schema.description}}:</label>

                                                <p class="input-group col-md-8" id="publish_start">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="article.publish_start.value" is-open="opened" min-date="minDate"
                                                           datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open($event)">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <label for="publish_end" class="col-md-4 control-label">{{article.publish_end.schema.description}}:</label>

                                                <p class="input-group col-md-8" id="publish_end">
                                                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="article.publish_end.value" is-open="opened" min-date="minDate"
                                                           datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open($event)">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                                </p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
