<div id="articleItemView">
    <!-- Modal -->
    <div class="modal fade" id="editArticleEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         ng-app="articleEditApp"
         ng-controller="articleEditCtrl">
        <div id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" class="close"><span
                                aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">Artikel löschen</h4></div>
                    <div class="modal-body"><p>Soll der Artikel wirklich gelöscht
                        werden?</p></div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default">Abbrechen
                        </button>
                        <button data-dismiss="modal" ng-click="deleteArticle($event)"
                                class="btn btn-danger">Löschen
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-dialog modal-dialog-full">
            <div class="modal-content modal-content-full">
                <div class="modal-header modal-header-full">
                    <button type="button" class="btn btn-primary" id="btSave" name="btSave"
                            ng-click="saveArticle($event)">Speichern und Zurück
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Abbrechen</button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="errorMessage" id="errorMessage">
                        {{errorMessage}}
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <form class="form" role="form">
                                            <div class="form-group">
                                                <label for="author" class="control-label">{{article_schema.author.label}}:</label>

                                                <div id="author">
                                                    <input type="text" class="form-control" ng-model="article.author">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="artikeldatum" class="control-label">{{article_schema.date.label}}:</label>

                                                <div id="artikeldatum">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control"
                                                               datepicker-popup="{{format}}" ng-model="article.date"
                                                               is-open="article_date_opened" min-date="minDate"
                                                               datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" ng-required="true"
                                                               close-text="Close"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default"
                                                                ng-click="openDatePicker($event, 'article_date_opened')">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr class="visible-xs">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ascloud-left-border-sm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form class="form" role="form">
                                            <div class="form-group">
                                                <label for="publish_start" class="control-label">{{article_schema.publish_start.label}}:</label>

                                                <div id="publish_start">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control"
                                                               datepicker-popup="{{format}}"
                                                               ng-model="article.publish_start"
                                                               is-open="publish_start_opened"
                                                               min-date="minDate"
                                                               datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" ng-required="true"
                                                               close-text="Close"/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="openDatePicker($event, 'publish_start_opened')">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="publish_end" class="control-label">{{article_schema.publish_end.label}}:</label>

                                                <div id="publish_end">
                                                    <p class="input-group">
                                                        <input type="text" class="form-control"
                                                               datepicker-popup="{{format}}"
                                                               ng-model="article.publish_end"
                                                               is-open="publish_end_opened"
                                                               min-date="minDate"
                                                               datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" ng-required="true"
                                                               close-text="Close"/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="openDatePicker($event, 'publish_end_opened')">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <form class="form" role="form">
                                    <div class="form-group">
                                        <label for="title" class="control-label">{{article_schema.title.label}}:</label>

                                        <div id="title">
                                            <input type="text" class="form-control" ng-model="article.title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="leadText" class="control-label">{{article_schema.leadText.label}}:</label>

                                        <div id="leadText">
                                            <input type="text" class="form-control" ng-model="article.leadText">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <button class="btn btn-info" ng-click="isRhoHelpOpen = !isRhoHelpOpen">
                                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                                        <span ng-show="isRhoHelpOpen">Eingabehilfe verstecken</span>
                                        <span ng-hide="isRhoHelpOpen">Eingabehilfe anzeigen</span>
                                    </button>
                                    <dl class="dl-horizontal" collapse="!isRhoHelpOpen">
                                        <dt>Überschriften</dt>
                                        <dd>Überschriften starten mit einem oder mehreren #. Die Anzahl der #-Zeichen
                                            definieren die Ebene
                                        </dd>
                                        <dt>Absätze</dt>
                                        <dd>Jeder neue Absatz wird mit einer Leerzeile bestimmt.</dd>
                                        <dt>Kursiv</dt>
                                        <dd>Text, der mit _ umschlossen ist, wird kursiv dargestellt</dd>
                                        <dt>Fettschrift</dt>
                                        <dd>Text, der mit * umschlossen ist, wird fett dargestellt</dd>
                                        <dt>Durchgestrichen</dt>
                                        <dd>~~Das war ein mal~~</dd>
                                        <dt>Links</dt>
                                        <dd>Links werden in folgender Form definiert: <code>[Link
                                            text](http://myurl.com)</code></dd>
                                        <dt>Bilder</dt>
                                        <dd>Bilder werden in folgender Weise eingebettet: <code>![Alternativer
                                            text](http://myurl.com/myimg.jpg)</code></dd>
                                        <dt>Listen</dt>
                                        <dd>Listen starten mit *. Jedes Listenelement muss die gleiche Einrückung haben.
                                            Nach jedem Listenelement eine Leerzeile einfügen. Weiter eingerückte *
                                            erzeugen
                                            Listen in untergeordneten Ebenen.
                                        </dd>
                                        <dt>Nummerierte Listen</dt>
                                        <dd>Nummerierte Listen starten mit 1 gefolgt von einem Punkt (1.)</dd>
                                        <dt>Horizontale Linie</dt>
                                        <dd>Ein Absatz mit genau drei Minuszeichen (---) erzeugt eine horizontale Linie.
                                            Vor und nach den drei Minuszeichen müssen jeweils eine Leerzeile sein.
                                        </dd>
                                        <dt>Weitere Informationen</dt>
                                        <dd><a href="https://guides.github.com/features/mastering-markdown" target="_blank">Mastering Markdown</a></dd>
                                        <dd><a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">Markdown
                                            Syntax (Englisch)</a></dd>
                                        <dd><a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown Cheatsheet</a></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div flow-init
                                         flow-name="flowObj.flow"
                                         flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                                        <div class="panel panel-default">
                                            <div class="panel-body marked" flow-drop ng-class="dropClass">
                                                <textarea class="marked form-control textareaMonospace" rows="{{textareaRows}}"
                                                          ng-maxlength="article_schema.text.maxLength" ng-model="article.text"
                                                          required="Ein Text muss eingegeben werden" ng-required="true"
                                                          ng-change="renderMarkdown()">
                                                </textarea>
                                            </div>
                                            <div class="panel-footer">
                                                <div>Füge Bilder durch Drag & Drop oder durch <a href="#" flow-btn>auswählen</a> hinzu</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                <div class="panel panel-default">
                                    <div class="panel-body" ng-bind-html="trustedTextAsHtml">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row" ng-show="article.article_id">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <button class="btn btn-default btn-danger" data-toggle="modal" ,
                                            data-target="#confirmModal">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span>Artikel löschen</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
