<div id="eventItemView">
    <!-- Modal -->
    <div class="modal fade" id="editCalendarEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-app="calendarEditApp" ng-controller="calendarEditCtrl">

        <div id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" data-dismiss="modal" class="close"><span
                                aria-hidden="true">×</span><span
                                class="sr-only">Close</span></button>
                        <h4 class="modal-title">Veranstaltung löschen</h4></div>
                    <div class="modal-body"><p>Soll die Veranstaltung wirklich gelöscht
                        werden?</p></div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default">Abbrechen
                        </button>
                        <button data-dismiss="modal" ng-click="deleteEvent($event)"
                                class="btn btn-danger">Löschen
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-dialog modal-dialog-full">
            <div class="modal-content modal-content-full">
                <div class="modal-header modal-header-full">
                    <button type="button" class="btn btn-primary" id="btSave" name="btSave"
                            ng-click="saveEvent($event)">Speichern und Zurück
                    </button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Abbrechen</button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger" role="alert" ng-show="errorMessage" id="errorMessage">
                        {{errorMessage}}
                    </div>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form class="form" name="event_date_form" novalidate role="form">
                                            <ul ng-show="event_date_form.$invalid">
                                                <li ng-show="event_date_form.event_start_field.$error.required" class="text-danger">Veranstaltungsbeginn muss angegeben werden.</li>
                                                <li ng-show="event_date_form.event_start_time.$error.timeformat" class="text-danger">Zeit des Veranstaltungsbeginns ist falsch.</li>
                                                <li ng-show="event_date_form.event_end_field.$error.required" class="text-danger">Veranstaltungsende muss angegeben werden.</li>
                                                <li ng-show="event_date_form.event_end_time.$error.timeformat" class="text-danger">Zeit des Veranstaltungsendes ist falsch.</li>
                                            </ul>
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <label for="event_start" class="control-label">{{event_schema.event_start.label}}:</label>

                                                    <div id="event_start">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                   name="event_start_field"
                                                                   datepicker-popup="{{format}}"
                                                                   ng-model="event.event_start"
                                                                   is-open="event_start_opened"
                                                                   starting-day="2"
                                                                   datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)"
                                                                   ng-required="event_schema.event_start.required"
                                                                   close-text="Close"/>
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="openDatePicker($event, 'event_start_opened')">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                            <input type="text" name="event_start_time" class="form-control time-picker"
                                                                   timeformat
                                                                   ng-change="timeChanged('event_start_time')"
                                                                   ng-model="event.event_start_time"
                                                                   ng-required="event_schema.event_start.required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <label for="event_end" class="control-label">{{event_schema.event_end.label}}:</label>

                                                    <div id="event_end">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                   name="event_end_field"
                                                                   datepicker-popup="{{format}}"
                                                                   ng-model="event.event_end"
                                                                   is-open="event_end_opened"
                                                                   starting-day="1"
                                                                   datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)"
                                                                   ng-required="event_schema.event_end.required"
                                                                   close-text="Close"/>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default"
                                                                        ng-click="openDatePicker($event, 'event_end_opened')">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="event_end_time" class="form-control time-picker"
                                                                   ng-change="timeChanged('event_end_time')"
                                                                   ng-model="event.event_end_time"
                                                                   ng-required="event_schema.event_end.required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <hr class="visible-xs">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ascloud-left-border-sm">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <form class="form" name="publish_date_form" novalidate role="form">
                                            <ul ng-show="publish_date_form.$invalid">
                                                <li ng-show="publish_date_form.publish_start_field.$error.required" class="text-danger">Beginn der Veröffentlichung muss angegeben werden.</li>
                                                <li ng-show="publish_date_form.publish_start_time.$error.timeformat" class="text-danger">Zeit des Veröffentlichungsbeginns ist falsch.</li>
                                                <li ng-show="publish_date_form.publish_end_field.$error.required" class="text-danger">Ende der Veröffentlichung muss angegeben werden.</li>
                                                <li ng-show="publish_date_form.publish_end_time.$error.timeformat" class="text-danger">Zeit des Veröffentlichungsendes ist falsch.</li>
                                            </ul>
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <label for="publish_start" class="control-label">{{event_schema.publish_start.label}}:</label>

                                                    <div id="publish_start">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                   name="publish_start_field"
                                                                   datepicker-popup="{{format}}"
                                                                   ng-model="event.publish_start"
                                                                   is-open="publish_start_opened"
                                                                   starting-day="1"
                                                                   datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)"
                                                                   ng-required="event_schema.publish_start.required"
                                                                   close-text="Close"/>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default"
                                                                        ng-click="openDatePicker($event, 'publish_start_opened')">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="publish_start_time" class="form-control time-picker"
                                                                   timeformat
                                                                   ng-change="timeChanged('publish_start_time')"
                                                                   ng-model="event.publish_start_time"
                                                                   ng-required="event_schema.publish_start.required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <label for="publish_end" class="control-label">{{event_schema.publish_end.label}}:</label>

                                                    <div id="publish_end">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control"
                                                                   name="publish_end_field"
                                                                   datepicker-popup="{{format}}"
                                                                   ng-model="event.publish_end"
                                                                   is-open="publish_end_opened"
                                                                   starting-day="1"
                                                                   datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)"
                                                                   ng-required="event_schema.publish_end.required"
                                                                   close-text="Close"/>
                                                            <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default"
                                                                        ng-click="openDatePicker($event, 'publish_end_opened')">
                                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                            </span>
                                                            <input type="text" name="publish_end_time" class="form-control time-picker"
                                                                   timeformat
                                                                   ng-change="timeChanged('publish_end_time')"
                                                                   ng-model="event.publish_end_time"
                                                                   ng-required="event_schema.publish_end.required">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <form class="form" name="event_form" role="form">

                                    <div class="form-group">
                                        <label for="title" class="control-label">{{event_schema.title.label}}:</label>

                                        <div id="title">
                                            <input name="titleField" type="text" class="form-control"
                                                   placeholder="{{event_schema.title.description}}"
                                                   ng-model="event.title"
                                                   ng-required="event_schema.title.required">
                                        </div>
                                        <p class="text-danger" ng-show="event_form.titleField.$error.required">Titel darf nicht leer sein</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="control-label">{{event_schema.description.label}}:</label>

                                        <div id="description">
                                            <textarea class="form-control" rows="3" placeholder="{{event_schema.description.description}}"
                                                      ng-maxlength="event_schema.description.maxLength"
                                                      ng-model="event.description"
                                                      ng-required="event_schema.description.required">
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="location" class="control-label">{{event_schema.location.label}}:</label>

                                        <div id="location">
                                            <input type="text" class="form-control"
                                                   ng-model="event.location"
                                                   placeholder="{{event_schema.location.description}}"
                                                   ng-required="event_schema.location.required">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>

                        <div class="row" ng-show="event.id">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <button class="btn btn-default btn-danger" data-toggle="modal" ,
                                            data-target="#confirmModal">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <span>Veranstaltung löschen</span>
                                    </button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





