<div id="calendarItemView">
    <script type="text/x-handlebars" data-template-name="calendarItem">

        <!-- Modal -->
        <div class="modal fade" id="editCalendarEntry" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-full">
                <div class="modal-content modal-content-full">
                    <div class="modal-header modal-header-full">
                        <button type="button" class="btn btn-primary">Speichern und Zurück</button>
                        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Abbrechen</button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            {{title}}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
