<div class="markdown-edit-app" ng-app="genericHTMLEditApp" ng-controller="genericHTMLEditCtrl">
  <div id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">XXX löschen</h4></div>
        <div class="modal-body"><p>Soll XXX wirklich gelöscht
          werden?</p></div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default">Abbrechen
          </button>
          <button data-dismiss="modal" ng-click="deleteXXX($event)" class="btn btn-danger">
            Löschen
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row header-row">
      <div class="col-xs-12">
        <div class="edit-header">
          <button type="button" class="btn btn-primary" id="btSave" name="btSave" ng-click="saveGenericHTMLPage($event)" title="Speichern">
            <span class="glyphicon glyphicon-save"></span>
            <span class="hidden-xs">Speichern</span>
          </button>
          <button type="button" class="btn btn-default" title="Abbrechen" ng-click="cancelEdit()">
            <span class="glyphicon glyphicon-remove"></span>
            <span class="hidden-xs">Abbrechen</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row body-row">
      <div class="col-xs-12">
        <div class="edit-body" ng-cloak>
          <div class="alert alert-danger" role="alert" ng-show="errorMessage" id="errorMessage">
            {{errorMessage}}
          </div>

          <div class="row row-use-remaining-space" resize>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group" flow-init flow-name="flowObj.flow" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]">
                <div class="markdown-panel" flow-drop ng-class="dropClass">
                                                <textarea class="editor-source" ng-bind-html="trustedTextAsHtml"
                                                          ng-required="true">
                                                </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

