extends layout
block content
    h1= title
    form(action="/logoff",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        hr
        p.text-info Abmelden bei #{appName}.
        div.form-group
            div(class="col-md-offset-2 col-md-10")
                input(type="submit", class="btn btn-default", value="Abmelden")
        hr
