<div id="memberDetail">
  <script type="text/x-handlebars" data-template-name="member">
    <p class="bg-danger">{{errorMessage}}</p>
    <div class="page-header">
      <h1>Mitglied {{membershipNumber}} ({{firstname}} {{lastname}}) bearbeiten</h1>
    </div>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="firstname" class="col-md-2 control-label">Vorname:</label>

        <div class="col-md-4">
          {{input type="text" class="form-control" id="firstname" value=firstname placeholder="Vorname"}}
        </div>

        <label for="lastname" class="col-md-2 control-label">Nachname:</label>

        <div class="col-md-4">
          {{input type="text" class="form-control" id="lastname" value=lastname placeholder="Nachname"}}
        </div>
      </div>

      <div class="form-group">
        <label for="MembershipNumber" class="col-md-2 control-label">Mitgliedsnr.:</label>

        <div class="col-md-4">
          {{input type="text" class="form-control" id="MembershipNumber" value=membershipNumber placeholder="Mitgliedsnummer"}}
        </div>

        <label for="birthday" class="col-md-2 control-label">Geboren:</label>

        <div class="col-md-4">
          {{input type="text" class="form-control" id="birthday" value=birthday_formatted placeholder="Geburtsdatum"}}
        </div>

      </div>
    </form>
  </script>
</div>