extends layout
block content
    h2= title
    h4 Seiteneinstellungen
    if error
        p.text-danger #{error}
    if info
        p.text-info #{info}
    if error || info
        br
    hr
    div.col-md-12
        form(action="/admin/pagemanagementpageedit",class="form-horizontal", method="post", role="form", novalidate="novalidate")
            input(type="hidden", value="#{csrfToken}" name="_csrf")
            div.form-group
