extends layout
block content
    h4 Rollenliste
    form(action="/admin/userManagementRoles",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        if error
            p.text-danger #{error}

        div.form-group
            div(class="col-xs-12 col-sm-12 table-responsive")
                table.table
                    thead
                        tr
                            th Rollenname
                            th Aktionen
                    tbody
                        tr.success
                            td
                                input(type="text", class="form-control", id="newRoleName", name="newRoleName", value="", placeholder="Name einer neuen Rolle")
                            td
                                button(class="btn btn-default", id="addNewRole", value="Hinzufügen", name="addNewRole")
                                    span(class="glyphicon glyphicon-plus")
                                    | &nbsp Hinzufügen

                        each role in roles
                            tr
                                td #{role.Name}
                                td
                                    a(href='/admin/userManagementRoleEdit/#{role.Role_id}') Details
