extends layout
block content
    h4 Rollenliste
    form(action="/admin/userManagementRoles",class="form-horizontal", method="post", role="form", novalidate="novalidate")
        input(type="hidden", value="#{csrfToken}" name="_csrf")
        if error
            p.text-danger #{error}
        div.form-horizontal
            div.form-group
                label(class="col-xs-7 col-sm-3 control-label", for="addNewRole") Neue Rolle hinzufügen:
                div(class="col-xs-5 col-sm-2")
                    button(class="btn btn-default", id="addNewRole", value="Hinzufügen", name="addNewRole")
                        span(class="glyphicon glyphicon-add")
                        | &nbsp Hinzufügen


        div(class="col-xs-12 col-sm-12 table-responsive")
            table.table
                thead
                    tr
                        th Rollenname
                        th Aktionen
                tbody
                    each role in roles
                        tr
                            td #{role.Name}
                            td
                                a(href='/admin/userManagementRoleEdit/#{role.Role_id}') Details
