body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar > .container-fluid {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    width: 100%;
}

.navbar > .container-fluid > .navbar-header {
    flex-grow: 0;
    flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
}

.navbar > .container-fluid > .navbar-collapse {
    flex-grow: 2;
    flex-shrink: 2;
    -ms-flex: 2 2 auto;
    -webkit-flex: 2 2 auto;
    max-height: 2em;    /* less than 1 line but it limits wrapping */
}

.textareaMonospace {
    font-family: monospace;
}

textarea.marked {
    resize: vertical;
    border: 0;
}

.panel-body.marked {
    padding: 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}

.drop.drag-over {
    background: #5CB85C;
    color: #fff
}

.transfer-box {
    margin-bottom: 5px;
}

.transfer-box .progress {
    margin-bottom: 0;
}

.media-left a img {
    max-height: 100px;
    max-width: 100px;
}

h4.media-heading a {
    color: inherit;
}

h4.media-heading span.glyphicon {
    padding-left: 0.5em;
    font-size: smaller;
}

h4.media-heading span.glyphicon:hover {
    cursor: pointer;
}

.media-body {
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.calendarNew:hover {
    cursor: pointer;
}

.calendarListItem span.glyphicon {
    padding-left: 0.5em;
}

.calendarListItem span.glyphicon:hover {
    cursor: pointer;
}

.calendarListItem .panel {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.calendarListItem .panel .panel-heading {
    font-size: 1.1em;
    font-weight: bold;
    padding: 1px 5px;
    border-bottom: none;
}

.calendarListItem .panel .panel-body {
    padding: 2px;
}

.calendarListItem .panel blockquote {
    padding: 1px 10px;
    font-size: inherit;
}

.calendarListItem .panel blockquote.blockquote-reverse {
    border-right-width: 1px;
    margin-right: -15px;
}

.time-picker {
    margin-left: 2em;
    max-width: 5em;
}

.filter.btn-group {
    margin-left: 1em;
}

.media-heading a:focus {
    outline: none;
}

h3 .social-likes,
.media-heading .social-likes {
    margin-left: 1em;
}
