body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.textareaMonospace {
    font-family: monospace;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}

.drop.drag-over {
    background: #5CB85C;
    color: #fff
}

.transfer-box {
    margin-bottom: 5px;
}

.transfer-box .progress {
    margin-bottom: 0;
}

.media-left a img {
    max-height: 100px;
    max-width: 100px;
}

h4.media-heading span.glyphicon {
    padding-left: 0.5em;
    font-size: smaller;
}

h4.media-heading span.glyphicon:hover {
    cursor: pointer;
}

.media-body {
    max-height: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}