body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#articleItemView .modal-content {
    display: flex;
    flex-direction: column;
}

.modal-flex-full-height {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#articleItemView .modal-content .modal-header {
    flex: 0 0 auto;
}

#articleItemView .modal-content .modal-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#articleItemView .modal-content .modal-body .container-fluid {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#articleItemView .modal-content .modal-body .container-fluid .row {
    flex: 0 0 auto;
}

#articleItemView .modal-content .modal-body .container-fluid .row.markdown-editor {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-bottom: 1em;
}

#articleItemView .modal-content .modal-body .container-fluid .row.markdown-areas {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.row.markdown-areas .markdown-area {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.row.markdown-areas .markdown-area .form-group {
    flex: 1 1 auto;
    overflow: auto;
}

.markdown-area div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.navbar > .container-fluid {
    width: 100%;
}

.nav > li:last-child > a {
    padding-right: 0;
}

.nav:last-child > li > a {
    padding-right: 15px;
}

/*
@media (min-width: 480px) {
    .navbar > .container-fluid > .navbar-collapse {
        display: inline-block;
        overflow-y: hidden;
        max-height: 3em; /!* limits wrapping *!/
    }
}
*/

.full-height {
    height: 100%;
}

.emoji {
    height: 1.2em;
}

.markdown-source {
    width: 100%;
    height: 100%;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    padding: 2px;
    overflow-y: scroll;
}

.result-html {
    height: 100%;
    padding: 2px 10px;
    overflow-y: scroll;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

.result-html img {
    max-width: 35%;
}

.hljs {
    padding: 9px;
}

.hljs code {
    white-space: pre;
}

.footnotes {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

.footnotes-list {
    padding-left: 2em;
}

textarea.markdown-source {
    resize: vertical;
    border: 0;
}

.panel-body.markdown-source {
    padding: 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}

.drop.drag-over {
    background: #5CB85C;
    color: #fff
}

.transfer-box {
    margin-bottom: 5px;
}

.transfer-box .progress {
    margin-bottom: 0;
}

.media-left a img {
    max-height: 100px;
    max-width: 100px;
}

h4.media-heading a {
    color: inherit;
}

h4.media-heading span.glyphicon {
    padding-left: 0.5em;
    font-size: smaller;
}

h4.media-heading span.glyphicon:hover {
    cursor: pointer;
}

.media-body {
    max-height: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.calendarNew:hover {
    cursor: pointer;
}

.calendarListItem span.glyphicon {
    padding-left: 0.5em;
}

.calendarListItem span.glyphicon:hover {
    cursor: pointer;
}

.calendarListItem .panel {
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.calendarListItem .panel .panel-heading {
    font-size: 1.1em;
    font-weight: bold;
    padding: 1px 5px;
    border-bottom: none;
}

.calendarListItem .panel .panel-body {
    padding: 2px;
}

.calendarListItem .panel blockquote {
    padding: 1px 10px;
    font-size: inherit;
}

.calendarListItem .panel blockquote.blockquote-reverse {
    border-right-width: 1px;
    margin-right: -15px;
}

.time-picker {
    margin-left: 2em;
    max-width: 5em;
}

.filter.btn-group {
    margin-left: 1em;
}

.media-heading a:focus {
    outline: none;
}

h3 .social-likes,
.media-heading .social-likes {
    margin-left: 1em;
}
